{% extends 'base.html.twig' %}

{% block title %}Connexion!{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div style="margin-top:30px;" class="alert alert-success" role="alert">
            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>


    {% else %}

        <h1 class="h3 mb-3 font-weight-normal">Formulaire de connexion</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" placeholder="Ex: VotreEmail@gmail.com" name="email" id="inputEmail" class="form-control" required autofocus>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" placeholder="***********" class="form-control" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

    <br>
        <a href="/reset-password">Mot de passe oublié ?</a><br><br>
        <button class="btn btn-lg btn-primary" type="submit">
            Connexion
        </button>

    {% endif %}

</form>
{% endblock %}
