{% extends 'base.html.twig' %}

{% block title %}S'inscrire !{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}

    {% for message in app.flashes('warning') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <h1>Formulaire d'inscription</h1>
    <p>Veuillez remplir les champs ci-dessous pour confirmer votre inscription</p>

    {{ form_start(form) }}

    {{ form_row(form.firstname, {'label':'Prénom','attr':{'placeholder':'Ex : Didier','class':'form-control'}}) }}
    {{ form_row(form.lastname, {'label':'Nom de Famille','attr':{'placeholder':'Ex : Drogba','class':'form-control'}}) }}
    {{ form_row(form.email, {'label':'Email','attr':{'placeholder':'Anonyme@gmail.com','class':'form-control email'}}) }}
    {{ form_row(form.password, {'label':'Mot de passe','attr':{'placeholder':'**********','class':'form-control password'}}) }}


    <br>
    <p class="erreur"></p>
    <br><button type="submit" class="btn btn-success inscription-btn">S'inscrire</button><br>

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script>
        $(".inscription-btn").on("click",function(){
            let lengthpassword = $(this).val().length;

            //alert(lengthpassword);
            if(lengthpassword < 5 || lengthpassword === false)
            {
                window.location.reload(true);
            }
        });
    </script>
{% endblock %}
