{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Snowtricks !{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% include 'cover.html.twig' %}

    {% if app.user %}
<a style="display:inline-block;width:100%;text-align: right;" href="/figure/creation">Créer une nouvelle figure</a><br>
    {% endif %}


<h4>Consulter les figures :</h4><br>
    <div class="row">
        {% for trick in tricks %}

                <div class="col-lg-4 mb-4 trick">
                    <div class="card h-100 text-center">
                        <img class="card-img-top" style="height:250px;" src="/uploads/{{ trick.cover }}" alt="">
                        <div class="card-body">
                            <div style="display:flex;justify-content: space-between;">
                                <div><h4 class="card-title">{{ trick.title }}</h4></div>
                                {% if app.user %}
                                <div>
                                    <form method="post" action="{{ path('tricks_delete', {'id': trick.id}) }}" onsubmit="return confirm('Etes vous sure de vouloir supprimer cette figure?');">
                                        <a href="/figure/{{ trick.id }}/modification"><i style="color:black;" class="fas fa-pencil-alt"></i></a>

                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                                        <button style="background:none;border:none;cursor:pointer;"><i class="fas fa-trash-alt"></i></button>
                                        {#<a href="/figure/{{ trick.id }}/modification"><i class="fas fa-trash-alt"></i></a>#}


                                    </form>
                                </div>
                            {% endif %}
                            </div>

                            <hr>

                            {% if trick.difficulty == 1 %}
                            <h6 style="color:green!important;" class="card-subtitle mb-2 text-muted">Facile <i class="fas fa-circle"></i></h6>
                            {% elseif trick.difficulty == 2 %}
                                <h6 style="color:orange!important;" class="card-subtitle mb-2 text-muted">Moyen <i class="fas fa-circle"></i></h6>
                            {% elseif trick.difficulty == 3 %}
                                <h6 style="color:red!important;" class="card-subtitle mb-2 text-muted">Difficile <i class="fas fa-circle"></i></h6>
                                {% endif %}


                            <p class="card-text">{{ trick.description | slice(0,80) }}.</p>
                            <a href="/figure/{{ trick.slug }}">Voir plus</a>
                        </div>
                        <div class="card-footer">
                            <p>Dernière modification le : {{ trick.LastModification|date("h:i d/m/Y", "Europe/Paris") }}</p>
                        </div>
                    </div>
                </div>
        {% endfor %}
        <a href="#haut" class="back-to-top"><i class="fas fa-arrow-up"></i></a>
    </div><br>

<div style="width: 100px;margin:auto;">
    {{  knp_pagination_render(tricks) }}
</div>

    {# <div style="display:flex;justify-content: center;">
        <button type="button" id="showmore" class="btn btn-primary" data-type="+">Voir plus</button>
    </div>
    #}

<br><br>
    {% include 'footer.html.twig' %}
{% endblock %}
{% block javascripts %}
    <script>

     // Back to top button
  $(window).scroll(function() {
    if ($(this).scrollTop() > 100) {
      $('.back-to-top').fadeIn('slow');
    } else {
      $('.back-to-top').fadeOut('slow');
    }
  });


        // smooth scroll
        $('a[href*="#"]')
            // Remove links that don't actually link to anything
            .not('[href="#"]')
            .not('[href="#0"]')
            .click(function(event) {
                // On-page links
                if (
                    location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                    &&
                    location.hostname == this.hostname
                ) {
                    // Figure out element to scroll to
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    // Does a scroll target exist?
                    if (target.length) {
                        // Only prevent default if animation is actually gonna happen
                        event.preventDefault();
                        $('html, body').animate({
                            scrollTop: target.offset().top
                        }, 1000, function() {
                            // Callback after animation
                            // Must change focus!
                            var $target = $(target);
                            $target.focus();
                            if ($target.is(":focus")) { // Checking if the target was focused
                                return false;
                            } else {
                                $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
                                $target.focus(); // Set focus again
                            };
                        });
                    }
                }
            });
        // fin smooth scroll
    </script>
    <script>
        new ShowMoreShowLess(".trick","#showmore","Voir plus","Voir moins",6,6);
    </script>
{% endblock %}
