{% extends 'base.html.twig' %}

{% block title %}Envoi d'un courriel de réinitialisation du mot de passe{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}

    <p>Un courrier a été envoyé, contenant un lien sur lequel vous pouvez cliquer pour réinitialiser votre mot de passe. Ce lien expirera dans {{ tokenLifetime|date('g') }} heure(s).</p>
    <p>Si vous ne recevez pas de courrier électronique, veuillez vérifier votre dossier de courrier indésirable ou <a href="{{ path('app_forgot_password_request') }}">réesayer</a>.</p>
{% endblock %}
