{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div style="text-align: center;margin-top: 100px;">
        <h1>Réinitialiser votre mot de passe</h1>

        {{ form_start(requestForm) }}
            {{ form_label(requestForm.email, "Entrez votre adresse email :") }}
            {{ form_row(requestForm.email, {'attr': {'class': 'form-control input-reset-password'}}) }}
        <br>
            <div>
                <small>
                    Un email vous sera envoyé pour rénitialiser votre mot de passe.
                </small>
            </div>

            <button class="btn btn-primary">Renitialiser mon mot de passe</button>
    </div>
    {{ form_end(requestForm) }}
{% endblock %}