body{
    /*background-color: red;
    color:blue;*/
    width:80%;
    margin:auto!important;
}

/* ========== style blog by default ============ */

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
    /*width:90%;
    margin:auto;*/
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}

.blog-header-logo:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
    font-size: 2.5rem;
}
@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
    /*width:90%;
    margin:auto;*/
}

.nav-scroller .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}

.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
    width:30%;
}

.flex-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
    .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*
 * Blog name and description
 */
.blog-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400;
}
.blog-description {
    font-size: 1.1rem;
    color: #999;
}

@media (min-width: 40em) {
    .blog-title {
        font-size: 3.5rem;
    }
}

/* Pagination */
.blog-pagination {
    margin-bottom: 4rem;
}
.blog-pagination > .btn {
    border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
    margin-bottom: 4rem;
}
.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}
.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

/*
 * Footer
 */
.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}
.jumbotron{
    background-image: url("../pictures/hiker-4035090_1280.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    height:70vh;
    filter: grayscale(50%);

}



.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
}

.back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: #009cea;
    color: #fff;
    transition: all 0.4s;
}

.back-to-top i:hover {
    background: #14b1ff;
    color: #fff;
}


/* form */

.content-figure{
    min-height:40vh;
}
.input-figure{
    width:50%!important;
    margin:auto!important;
}
.input-figure-reduit{
    width:220px!important;
    margin:10px!important;

}
.name-figure{
    height:auto;
    font-size:40px!important;
}
.input-reset-password{
    width: 50%!important;
    margin:auto;
}


/* MOBILE */

#showmedia {
    display: none;
}
.medias{
    display:flex;
    justify-content: normal;
    flex-wrap: wrap;
}
/*.medias-edit{
    display:none;
}*/
.mediasOn-edit{
    display:flex!important;
    justify-content: normal!important;
    flex-wrap: wrap!important;

}
.mediasOn{
    display:flex;
    justify-content: normal;
    flex-wrap: wrap;
}
.mediasOff{
    display:none!important;
}

@media (max-width: 768px) {
    #showmedia {
        display: block;
    }

}