<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">SnowTricks la passion des figures</h1>
        <p class="lead my-3">Apprenez davantage sur la pratique du snowboard.</p>

    </div>
</div>

