<header id='haut' class="blog-header py-3">


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">SnowTricks</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
                </li>

                {% if app.user %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}" >Deconnexion</a>
                </li>

                {% else %}
                <li class="nav-item">
                    <a class="nav-link " href="/connexion"  >Connexion</a>
                </li>
                    <li class="nav-item">
                    <a class="nav-link " href="/inscription"  >Inscription</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>


</header>

