{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <h1>Page non trouvée</h1>

    <p>
        La page demandée n'a pas pu être localisée. <a href="{{ path('home') }}">retour à la page d'accueil</a>.
    </p>
{% endblock %}
