{% block body %}

{{ form_start(form) }}
    <!-- Page Content -->
    <div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-12"><br>
            {% for message in app.flashes('warning') %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            <!-- Title -->
            <br>
            <i class="fas fa-edit"></i> {{ form_label(form.title, "Nom de la figure ") }}<br><span style="color:red;"> * champs obligatoire</span>
            <h1 class="mt-4">{{ form_row(form.title, {'attr': {'class': 'form-control name-figure','placeholder':'Exemple : Figure Fun'}}) }}</h1>
<br>

            <!-- Preview Image -->
            {% if trick.cover == false %}

                <img style="width:100%;max-height: 50vh;" class="img-fluid rounded" src="http://placehold.it/895x250" alt="">

                {% else %}

            <img style="width:100%;max-height: 50vh;" class="img-fluid rounded" src="/uploads/{{ trick.cover }}" alt="">

            {% endif %}

            <hr><br>
            <i class="fas fa-edit"></i> {{ form_label(form.cover, "Sélectionner une nouvelle image pour la figure") }}
            <br><span style="color:red;"> * champs obligatoire</span>
            {{ form_row(form.cover, {'attr': {'class': 'form-control input-figure'}}) }}
            <br>

            <br>
            <i class="fas fa-edit"></i> {{ form_label(form.pictures, "Sélectionner une ou plusieurs image(s) supplémentaire(s)") }}
            {{ form_row(form.pictures, {'attr': {'class': 'form-control input-figure'}}) }}

            <!-- Medias -->

            <div class="card my-4">
                <h5 class="card-header">Medias</h5>
                <div id="videosGallerie" class="card-body">
                    <div class="row medias-edit">
                        <!-- image -->
                        {% for old_picture in olds_pictures %}
                            {% if old_picture == true %}
                                <div style="margin: 10px 10px 10px 10px;" class="" id="picture{{ loop.index }}">
                                    <img style="height:150px;width:250px;margin-bottom: 7px;" id="imgDB"  src="/uploads/{{ old_picture }}" /><br><br>
                                    <input style="margin-bottom: 20px;" id="file{{ loop.index }}" type="file" class="form-control image-indatabase" name="tricks[pictures][]" /><br>
                                    <button id="{{ loop.index }}" pictureName="{{ old_picture }}" class="btn btn-danger btn-picture" type="button">Supprimer</button>
                                    <button id="replace{{ loop.index }}" class="btn btn-secondary replaceImage" imageReplace="{{ old_picture }}" type="submit">Remplacer</button>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {{ form_row(form.deleteOfPic, {'attr': {'class': 'form-control','id': 'deleteListPicture'}}) }}
                        <!-- videos -->
                        {% for old_video in olds_videos %}
                            {% if old_video == true  %}
                                <div style="margin:10px;" class="" id="video{{ loop.index }}">

                                    <iframe class="iframe{{ loop.index }}" width="250px" height="150px" src="{{old_video}}" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <br><br><input type="text" id="newVideo{{ loop.index }}" class="form-control" placeholder="Url: https://www.youtube.com/watch?v=YDnbh11ZETY" /><br><br>
                                    <button  id="{{ loop.index }}" videoName="{{ old_video }}" class="btn btn-danger btn-video" type="button">Supprimer</button>
                                    <!-- TODO ajouter fonctionnalité de remplacement -->
                                    <button  id="{{ loop.index }}" videoNameReplace="{{ old_video }}" class="btn btn-secondary video-replace" type="button">Remplacer</button>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {{ form_row(form.deleteOfVid, {'attr': {'class': 'form-control','id': 'deleteListVideo'}}) }}
                    </div>

                    <div style="display:flex;justify-content: center;margin: 20px">
                        <button type="button" etat="close" id="showmedia" class="btn btn-primary" data-type="+">Voir média</button>
                    </div>
                </div>
            </div>
            {{ form_row(form.videos, {'attr': {'class': 'form-control videoList'}}) }}

            <br>
            <i class="fas fa-edit"></i> <label>Vidéos</label>
            <input type="text" id="addVideos" class="form-control input-figure" placeholder="Exemple : https://www.youtube.com/watch?v=YDnbh11ZETY"  /><br>

            <button style="display:block!important;margin:auto!important;" type="button" id="validAdd" class="btn btn-light">Ajouter une vidéo</button><br><br><br>

            <i class="fas fa-edit"></i> {{ form_label(form.description, "Contenu de la figure") }}
            <br><span style="color:red;"> * champs obligatoire</span><br><br>
            {{ form_row(form.description, {'attr': {'class': 'form-control content-figure'}}) }}
<br><br>
            <!-- Post Content -->
            <div style="display:flex;justify-content: center;">

                <div>
                    <i class="fas fa-edit"></i> {{ form_label(form.position, "Position") }}
                    <span style="color:red;"> *</span>
                    {{  form_row(form.position, {'attr': {'class': 'form-control input-figure-reduit position-figure'}}) }}
                </div>
                <div>

                    <i class="fas fa-edit"></i> {{ form_label(form.difficulty, "Difficulté") }}
                    {{ form_row(form.difficulty, {'attr': {'class': 'form-control input-figure-reduit'}}) }}
                </div>
                <div>
                    <i class="fas fa-edit"></i> {{ form_label(form.fk_group, "Groupe de la figure") }}
                    {{ form_row(form.fk_group, {'attr': {'class': 'form-control input-figure-reduit'}}) }}
                </div>
            </div>

            <br><br>


        </div>
        <!-- /.row -->

        </div>

{% endblock %}
        <div class="alert alert-danger errorjs" role="alert"></div><br>
        <button class="btn btn-primary edit-btn">{{ button_label|default('Creer une nouvelle figure') }}</button>

        {{ form_end(form) }}

<hr>
    <br>




