{% extends 'base.html.twig' %}

{% block title %}Modification du trick{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <!--<h1>Modification du trick</h1>-->

    {{ include('tricks/_form.html.twig', {'button_label': 'Enregistrer les modifications'}) }}
    {{ include('tricks/_delete_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('tricks_index') }}">Liste des tricks</a>


{% endblock %}
{% block javascripts %}
    <script>

        $("#tricks_deleteOfVid").val("");
        $(".videoList").val("");

        // remplacement image blocage boutton si aucun fichier selectionné

        $(".image-indatabase").each(function(){

            let id = $(this).attr("id");
            let loop_index = id.replace("file","");

            if($(this).val() !== "")
            {
                $("#replace"+loop_index).removeAttr("disabled",true);
            }
            else{
                $("#replace"+loop_index).attr("disabled",true);
            }
        });

        $(".image-indatabase").on("change",function(){

            let id = $(this).attr("id");
            let loop_index = id.replace("file","");

            if($(this).val() !== "")
            {
                $("#replace"+loop_index).removeAttr("disabled",true);
            }
            else{
                $("#replace"+loop_index).attr("disabled",true);
            }
        });

        // verification si champs title description et position sont vides

        $(".errorjs").hide();

        let errorFields = 0;
        let lengthTitle = $(".name-figure").val().length;
        let lengthPosition = $(".position-figure").val().length;
        let lengthContent = $(".content-figure").val().length;
        let messagErrorField = "";

        // verification title

        if(lengthTitle < 3)
        {
            errorFields++;
            messagErrorField = "Vous devez entrez un nom pour la figure (2 lettres minimum)";
        }

        // veirifcation position

        if(lengthPosition < 3)
        {
            errorFields++;
            messagErrorField = "Vous devez entrez une position pour la figure (2 lettres minimum)";
        }

        // verification description

        if(lengthContent < 3)
        {
            errorFields++;
            messagErrorField = "Vous devez entrez une description pour la figure (2 lettres minimum)";
        }

        if(errorFields > 0)
        {
            $(".edit-btn").attr("disabled",true);
            $(".errorjs").show();
            if($(".errorjs").val() === "" || $(".errorjs").val() === null)
            {
                $(".errorjs").html(messagErrorField);
            }
        }


        $("body").on("keyup",function() {

            $(".errorjs").hide();
            errorFields = 0;
            lengthTitle = $(".name-figure").val().length;
            lengthPosition = $(".position-figure").val().length;
            lengthContent = $(".content-figure").val().length;
            messagErrorField = "Un champs obligatoire est vide";

            if(lengthTitle < 3)
            {
                errorFields++;
                messagErrorField = "Vous devez entrez un nom pour la figure (2 lettres minimum)";
            }

            // veirifcation position

            if(lengthPosition < 3)
            {
                errorFields++;
                messagErrorField = "Vous devez entrez une position pour la figure (2 lettres minimum)";
            }

            // verification description

            if(lengthContent < 3)
            {
                errorFields++;
                messagErrorField = "Vous devez entrez une description pour la figure (2 lettres minimum)";
            }

            if(errorFields > 0)
            {
                $(".edit-btn").attr("disabled",true);
                $(".errorjs").show();
                $(".errorjs").html("");

                if($(".errorjs").val() === "" || $(".errorjs").val() === null)
                {
                    $(".errorjs").html(messagErrorField);
                }

            }else
            {
                $(".edit-btn").removeAttr("disabled",true);
                $(".errorjs").hide();
                $(".errorjs").append("");
            }
        });

        $("#validAdd").click(function(){

            // l'url que l'on récupere

            let link = $("#addVideos").val();

            // test de l'url
            var myregexp = /(?:youtube\.com\/(?:[^\/]+\/.+\/|(?:v|e(?:mbed)?)\/|.*[?&]v=)|youtu\.be\/)([^"&?\/\s]{11})/gi;
            var matches = link.match(myregexp);


            // si l'url est valide alors on fait le traitement
            if (matches) {
                //alert('valid');
            if(link !== "") {
                let replaceLink = link.replace("watch?v=", "embed/");
                let embed = '<div class="col-4"><iframe width="auto" height="auto" src="' + replaceLink + '" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>';
                $("#videosGallerie .row").append(embed);
                //$(".videoList").val($("videoList").val().append(embed+";"));
                //$(".videoList").append(replaceLink+";");
                let base = $(".videoList").val();
                $(".videoList").val(base + replaceLink + ";");
                $("#addVideos").val("");
            }
            } else {
                alert('URL invalide');
            }
        });


        $(".video-replace").click(function(){

            // l'url que l'on récupere
            let id = $(this).attr("id");

            let link = $("#newVideo"+id).val();

            // test de l'url
            var myregexp = /(?:youtube\.com\/(?:[^\/]+\/.+\/|(?:v|e(?:mbed)?)\/|.*[?&]v=)|youtu\.be\/)([^"&?\/\s]{11})/gi;
            var matches = link.match(myregexp);


            // si l'url est valide alors on fait le traitement
            if (matches) {
                //alert('valid');
                if(link !== "") {

                    //ajout du nouveau lien
                    let replaceLink = link.replace("watch?v=", "embed/");
                    $(".iframe"+id).attr("src",replaceLink);

                    let replace = $(this).attr("videoNameReplace");
                    let baseVid = $("#tricks_deleteOfVid").val();
                    $("#tricks_deleteOfVid").val(baseVid + replace + ";");
                    //$(".videoList").val($("videoList").val().append(embed+";"));
                    //$(".videoList").append(replaceLink+";");
                    let base = $(".videoList").val();
                    $(".videoList").val(base + replaceLink + ";");
                    $("#newVideo"+id).val("");
                }
            } else {
                alert('URL invalide');
            }
        });

        $(".replaceImage").click(function(){
           // if(confirm("Si vous n'avez selectionner aucune photo de remplacement cette photo sera supprimé, confirmez ?")) {
                let old_image = $(this).attr("imageReplace");

                let basePic = $("#tricks_deleteOfPic").val();
                $("#tricks_deleteOfPic").val(basePic + old_image + ";");
            //}

        });

        // suppression d'une photo
        $(".btn-picture").click(function(){
            let selectedPicture = $(this).attr("id");

            if(confirm("Êtes-vous sûr(e) de vouloir supprimer cette photo ?")) {
                let namePic = $(this).attr("picturename");
                let basePic = $("#tricks_deleteOfPic").val();
                $("#tricks_deleteOfPic").val(basePic + namePic + ";");
                $("#picture"+selectedPicture).remove();
            }
        });

        //suppression d'une video
        $(".btn-video").click(function(){
            let selectedVideo = $(this).attr("id");

            if(confirm("Êtes-vous sûr(e) de vouloir supprimer cette vidéo ?")) {
                let nameVid = $(this).attr("videoname");
                let baseVid = $("#tricks_deleteOfVid").val();
                $("#tricks_deleteOfVid").val(baseVid + nameVid + ";");
                $("#video"+selectedVideo).remove();
            }
        });



        // bouton see medias

        function seeMedias(){
            let tailleFenetre = $(document).width();
            tailleFenetre = parseInt(tailleFenetre);
            if(tailleFenetre > 600){
                $(".medias-edit").removeClass("mediasOff");
                $(".medias-edit").addClass("mediasOn-edit");

            }else{
                $(".medias-edit").removeClass("mediasOn-edit");
                $(".medias-edit").addClass("mediasOff");
            }
        }
        seeMedias();
        $(window).on("resize",function(){
            //alert("ok");
            seeMedias();
        });

        $("#showmedia").click(function(){
            let etat = $(this).attr("etat");
            //alert(etat);
            if(etat === "close"){
                $(this).attr("etat","open");
                $(this).html("Cacher");
                $(".medias-edit").removeClass("mediasOff");
                $(".medias-edit").addClass("mediasOn-edit");
            }else{
                $(this).attr("etat","close");
                $(this).html("Voir médias");
                $(".medias-edit").removeClass("mediasOn-edit");
                $(".medias-edit").addClass("mediasOff");
            }

        });

    </script>
{% endblock %}
