{% extends 'base.html.twig' %}

{% block title %}Liste des figures{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <h1>Liste des figures</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <a style="text-align: center;display:block;" href="{{ path('tricks_new') }}">Créer une nouvelle figure</a>
    <table class="table table-striped"><br><br>
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Description</th>
                {#<th>Date_c</th>
                <th>Last_modification</th>#}
                <th scope="col">Images</th>
                <th scope="col">Last_user_modification</th>
                <th scope="col">Fk_author</th>
                <th scope="col">Fk_group</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trick in tricks %}
            <tr>
                <td>{{ trick.id }}</td>
                <td>{{ trick.title }}</td>
                <td>{{ trick.description }}</td>
                {#<td>{{ trick.dateC ? trick.dateC|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ trick.lastModification ? trick.lastModification|date('Y-m-d H:i:s') : '' }}</td>#}
                <td>{{ trick.pictures }}</td>
                <td>{{ trick.lastUserModification }}</td>
                <td>{{ trick.fkAuthor }}</td>
                <td>{{ trick.fkGroup }}</td>
                <td>
    <a href="{{ path('tricks_show', {'slug': trick.slug}) }}">Voir</a>
    <a href="{{ path('tricks_edit', {'id': trick.id}) }}">Modifier</a>
</td>
</tr>
{% else %}
<tr>
<td colspan="10">no records found</td>
</tr>
{% endfor %}
</tbody>
</table>


{% endblock %}
