{% extends 'base.html.twig' %}

{% block title %}Nouvelle Figure{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    {#<h1>Ajouter une nouvelle figure</h1>#}

    {{ include('tricks/_form.html.twig') }}

   {# <a href="{{ path('tricks_index') }}">Retour vers la page d'accueil</a> #}
{% endblock %}

{% block javascripts %}
    <script>

        $(".videoList").val("");

        // verification si champs title description et position sont vides

        $(".errorjs").hide();

        let errorFields = 0;
        let lengthTitle = $(".name-figure").val().length;
        let lengthPosition = $(".position-figure").val().length;
        let lengthContent = $(".content-figure").val().length;
        let messagErrorField = "";

        // verification title

        if(lengthTitle < 3)
        {
            errorFields++;
            messagErrorField = "Vous devez entrez un nom pour la figure (2 lettres minimum)";
        }

        // veirifcation position

        if(lengthPosition < 3)
        {
            errorFields++;
            messagErrorField = "Vous devez entrez une position pour la figure (2 lettres minimum)";
        }

        // verification description

        if(lengthContent < 3)
        {
            errorFields++;
            messagErrorField = "Vous devez entrez une description pour la figure (2 lettres minimum)";
        }

        if(errorFields > 0)
        {
            $(".edit-btn").attr("disabled",true);
            $(".errorjs").show();
            if($(".errorjs").val() === "" || $(".errorjs").val() === null)
            {
                $(".errorjs").html(messagErrorField);
            }
        }


        $("body").on("keyup",function() {

            $(".errorjs").hide();
            errorFields = 0;
            lengthTitle = $(".name-figure").val().length;
            lengthPosition = $(".position-figure").val().length;
            lengthContent = $(".content-figure").val().length;
            messagErrorField = "Un champs obligatoire est vide";

            if(lengthTitle < 3)
            {
                errorFields++;
                messagErrorField = "Vous devez entrez un nom pour la figure (2 lettres minimum)";
            }

            // veirifcation position

            if(lengthPosition < 3)
            {
                errorFields++;
                messagErrorField = "Vous devez entrez une position pour la figure (2 lettres minimum)";
            }

            // verification description

            if(lengthContent < 3)
            {
                errorFields++;
                messagErrorField = "Vous devez entrez une description pour la figure (2 lettres minimum)";
            }

            if(errorFields > 0)
            {
                $(".edit-btn").attr("disabled",true);
                $(".errorjs").show();
                $(".errorjs").html("");

                if($(".errorjs").val() === "" || $(".errorjs").val() === null)
                {
                    $(".errorjs").html(messagErrorField);
                }

            }else
            {
                $(".edit-btn").removeAttr("disabled",true);
                $(".errorjs").hide();
                $(".errorjs").append("");
            }
        });

        $("#validAdd").click(function(){


            // l'url que l'on récupere

            let link = $("#addVideos").val();

            // test de l'url
            var myregexp = /(?:youtube\.com\/(?:[^\/]+\/.+\/|(?:v|e(?:mbed)?)\/|.*[?&]v=)|youtu\.be\/)([^"&?\/\s]{11})/gi;
            var matches = link.match(myregexp);
            if (matches) {
                //alert('valid');

            //alert(link);
            let replaceLink = link.replace("watch?v=","embed/");
            let embed = '<iframe width="auto" height="auto" src="'+replaceLink+'" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>';
            $("#videosGallerie").append(embed);
            //$(".videoList").val($("videoList").val().append(embed+";"));
            //$(".videoList").append(replaceLink+";");
            let base = $(".videoList").val();
            $(".videoList").val(base + replaceLink + ";");
            $("#addVideos").val("");

            } else {
                alert('URL invalide');
            }
        });

        // suppression d'une photo
        $(".btn-picture").click(function(){
            alert("ok");
           let selectedPicture = $(this).attr("id");
            if(confirm("Êtes-vous sûr(e) de vouloir supprimer cette photo ?")) {
                $("picture"+selectedPicture).remove();
            }

        });



        // A TESTER
        //var a  = url.match("/http:\/\/(?:www.)?(?:(vimeo).com\/(.*)|(youtube).com\/watch\?v=(.*?)&)/");

    /*    if (a =="youtube")
        {
            // do stuff
        }
        else if (a =="vimeo")
        {
        // do stuff
        }
        else
        {
            // Not a valid url
        }*/



    </script>
{% endblock %}
