{% extends 'base.html.twig' %}

{% block title %}Figure{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}

    <!-- Page Content -->

    {% for message in app.flashes('warning') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <div class="container">

        <div class="row">

            {% for trick in tricks %}

            <!-- Post Content Column -->
            <div class="col-lg-12">

                <!-- Title -->
                <h1 class="mt-4">{{ trick.title }}</h1>

                <hr>

                <!-- Date/Time -->
                <p>Dernière modification le  {{ trick.lastModification ? trick.lastModification|date('Y-m-d H:i:s') : '' }}</p>

                <hr>

                <!-- Preview Image -->
                <div style="width:100%;height:400px;">
                    <img style="object-fit: cover;width:100%;height:400px;" class="img-fluid rounded" src="/uploads/{{ trick.cover }}" alt="">
                </div>

                <hr>
                {% if app.user %}
                {{ include('tricks/_delete_form.html.twig') }}
                {% endif %}
                <br>
                <!-- Medias -->

                <div class="card my-4 ">
                    <h5 class="card-header">Medias</h5>
                    <div class="medias">
                        <!-- image -->

                        {% for picture in allPictures %}
                        <div class="media" style="height:150px;width:250px;margin:10px">
                            <a href="/uploads/{{ picture }}">
                                <img  style="height:150px;width:250px;" class="img-fluid rounded" src="/uploads/{{ picture }}" alt="" />
                            </a>
                        </div>
                        {% endfor %}

                        <!-- videos -->
                        {% for video in allVideos %}
                        <div class="media" style="margin: 10px;" >
                            <iframe width="250px" height="auto" src="{{video}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        {% endfor %}


                    </div>
                    <div style="display:flex;justify-content: center;margin: 20px">
                        <button type="button" etat="close" id="showmedia" class="btn btn-primary" data-type="+">Voir média</button>
                    </div>

                </div>

                <!-- Post Content -->


                <p>{{ trick.description }}</p>
                <p style="font-weight: bold;">Groupe de la figure : {{ categorieFigure.name }}</p>

                <br>
                <p>Crée le : {{ trick.dateC ? trick.dateC|date('Y-m-d H:i:s') : '' }} par {{ trick.fkAuthor.lastname }} {{ trick.fkAuthor.firstname }}</p>
                <hr>

                <div class="card my-4">
                    <h5 class="card-header">Commentaires :</h5>
                    <div  class="card-body">
                        <!-- Single Comment -->
                        {% for comment in comments %}
                            <div style="display:flex;justify-content: space-between;">
                            <div class="media mb-4 commentaire">
                                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                                <div class="media-body">
                                    {% if comment %}
                                    <h5 class="mt-0">{{ comment.fkUser.firstname }} {{ comment.fkUser.lastname }}</h5>
                                    <p>Publié le {{ comment.DateC ? comment.DateC|date('d-m-Y à H:i:s')}}  </p><br>
                                    {{ comment.content }}.
                                    {% else %}
                                        <p>il n'y a aucun commentaire(s) pour le moment</p>
                                    {% endif %}
                                </div>

                            </div>
                            {% if app.user %}
                            {% if comment.fkUser.id == app.user.id %}
                            <div>
                                <form method="post" action="{{ path('comments_delete', {'id': comment.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce commentaire?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                                    <button style="background-color:#FFF;border: none;color:red;cursor: pointer;" class="">Supprimer mon commentaire</button>
                                </form>
                            </div>

                            {% endif %}
                            {% endif %}

                            </div>
                            <hr><br>
                        {% endfor %}
                    </div>
                    {#
                    <div style="display:flex;justify-content: center;margin-bottom: 20px">
                        <button type="button" id="showmore" class="btn btn-primary" data-type="+">Voir plus</button>
                    </div>
                    #}
                </div>



                {% if app.user %}
                <!-- Comments Form -->
                <div class="card my-4">
                    <h5 class="card-header">Laisser un commentaire :</h5>
                    <div class="card-body">
                        {{ form_start(form) }}
                        {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
                        <br>
                        <button type="submit" class="btn btn-primary">Commenter</button>
                        {{ form_end(form) }}

                    </div>
                </div>

                {% endif %}

            </div>

        </div>
        <!-- /.row -->
                <div style="width: 100px;margin:auto;">
                    {{ knp_pagination_render(comments) }}
                </div>
    </div>


            {% endfor %}
{% endblock %}
{% block javascripts %}
    <script>
        //alert("ok");
        $nbCommentaire = $(".commentaire").length;
        //alert($nbCommentaire);
        if($nbCommentaire > 10){
            $("#showmore").show();
        }else{
            $("#showmore").hide();
        }

        new ShowMoreShowLess(".commentaire","#showmore","Voir plus","Voir moins",10,10);





// bouton see medias

        function seeMedias(){
            let tailleFenetre = $(document).width();
            tailleFenetre = parseInt(tailleFenetre);
            if(tailleFenetre > 600){
                $(".medias").removeClass("mediasOff");
                $(".medias").addClass("mediasOn");

            }else{
                $(".medias").removeClass("mediasOn");
                $(".medias").addClass("mediasOff");
            }
        }
        seeMedias();
        $(window).on("resize",function(){
            //alert("ok");
            seeMedias();
        });

        $("#showmedia").click(function(){
            let etat = $(this).attr("etat");
            //alert(etat);
            if(etat === "close"){
                $(this).attr("etat","open");
                $(this).html("Cacher");
                $(".medias").removeClass("mediasOff");
                $(".medias").addClass("mediasOn");
            }else{
                $(this).attr("etat","close");
                $(this).html("Voir médias");
                $(".medias").removeClass("mediasOn");
                $(".medias").addClass("mediasOff");
            }

        });

        //alert(test);

    </script>
{% endblock %}
